/* For modern browsers */
.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}
.clearfix:after {
    clear: both;
}
/* For IE 6/7 (trigger hasLayout) */
.clearfix {
    zoom: 1;
}

body {
	font: 14px/18px 'RobotoRegular', Arial, sans-serif;
	background: none repeat scroll 0 0 #F5F5F5;
	min-width: 960px;
}
.absolute {
	position: fixed;
}

#navigation h2 {
	margin: 20px 0 0 0;
	padding: 0 10px;
	color: #AAAAAA;
	font-size: 14px;
	line-height: 20px;
	height: 20px;
	font-weight: normal;
	background-color: #2A2A2A;
    border-bottom: 1px solid #000000;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.04) inset;
    color: #AAAAAA;
    overflow: hidden;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
    text-decoration: none;
}
#navigation {
	width: 245px;
	top: 0;
	left: 0;
	bottom: 0;
	overflow: hidden;
	background: none repeat scroll 0 0 #1E1E1E;
	box-shadow: 3px 0 6px -2px #000000;
}
#navigation a {
    background-color: #1E1E1E;
    border-bottom: 1px solid #000000;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.04) inset;
    color: #AAAAAA;
    cursor: pointer;
    display: block;
    line-height: 34px;
    overflow: hidden;
    position: relative;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
    text-decoration: none;
    width: 100%;
}
#navigation a.active {
    background-color: #28A6EB;
    color: #FFFFFF;
    text-decoration: none;
}
#navigation a:hover {
    background-color: #232323;
    color: #EEEEEE;
    text-decoration: none;
}
#navigation a.active:hover {
    background-color: #28A6EB;
    color: #FFFFFF;
    text-decoration: none;
}

#navigation #user {
	font-family: 'RobotoThin', Arial, sans-serif;
	color: #AAAAAA;
	font-size: 34px;
	height: 80px;
	line-height: 80px;
	text-align: center;

	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
#navigation #menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
#navigation #menu h2.first  {
	margin: 0;
}
#navigation #menu li {
	display: block;
}

#navigation #menu li span.menu_link {
	display: block;
	padding: 0 10px;
	line-height: 34px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

#navigation #menu ul.pagination {
	margin: 0;
}
#navigation #menu ul.pagination li {
	float: left;
	display: block;
	text-align: center;
	width: 35px;
	height: 34px;
}
#navigation #menu ul.pagination li span {
	padding: 0;
}
#navigation #menu ul.pagination li.last a {
	border-right: none;
	width: 35px;
}
#navigation #menu ul.pagination a {
	box-shadow: 1px 0 0 rgba(255, 255, 255, 0.04) inset;
	border-right: 1px solid #000000;
	width: 34px;
}

#content {
	height: 100%;
	margin-left: 245px;
	overflow: hidden;
	position: relative;
}
#content a {
	color: #28A6EB;
	text-decoration: none;
}

#container {
	padding: 30px;
}

#content h1 {
	margin: 0 0 30px 0;
}

#content div.post {
	margin: 0 0 15px 0;
	border-bottom: 1px solid #CCCCCC;
}

#content div.post div.inline {
	display: inline;
}

#content div.post div.image {
	text-align: left;
	width: 150px;
	margin: 0 10px 10px 0;
	float: left;
	line-height: 0;
}
#content div.post div.image img {
	box-shadow: 0 0 1px 1px #000000;
}

#content div.post div.post_content {
	margin: 0 0 0 180px;
}
#content div.post div.title {
	font-size: 16px;
	margin-bottom: 10px;
}
#content div.post div.text {
	margin-bottom: 10px;
}
#content div.post div.actions {
	margin-bottom: 10px;
}

#content div.post div.actions ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
#content div.post div.actions li {
	display: inline;
}