/* For modern browsers */
.clearfix:before,
.clearfix:after {
	content: "";
	display: table;
}
.clearfix:after {
	clear: both;
}
/* For IE 6/7 (trigger hasLayout) */
.clearfix {
	zoom: 1;
}

body {
	font: 14px/18px 'RobotoRegular', Arial, sans-serif;
    color: #AAAAAA;
	background: url('../fabric_of_squares_black.png') repeat 0 0;
	min-width: 960px;
	text-rendering: optimizeLegibility;
}
.fixed {
	position: fixed;
}

input, textarea {
    background-color: #1E1E1E;
    border: 1px solid #333333;
    color: #AAAAAA;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
}


#navigation h2 {
	margin: 20px 0 0 0;
	padding: 0 10px;
	color: #AAAAAA;
	font-size: 14px;
	line-height: 20px;
	height: 20px;
	font-weight: normal;
	background-color: #2A2A2A;
	border-bottom: 1px solid #000000;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.04) inset;
	color: #BBBBBB;
	overflow: hidden;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
	text-decoration: none;
}
#navigation {
	width: 245px;
	top: 0;
	left: 0;
	bottom: 0;
	overflow: hidden;
	background: none repeat scroll 0 0 #1E1E1E;
	box-shadow: 3px 0 6px -2px #000000;
}
#navigation a {
	background-color: #1E1E1E;
	border-bottom: 1px solid #000000;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.04) inset;
	color: #AAAAAA;
	cursor: pointer;
	display: block;
	line-height: 34px;
	overflow: hidden;
	position: relative;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
	text-decoration: none;
	width: 100%;
}
#navigation a.active {
	background-color: #28A6EB;
	color: #FFFFFF;
	text-decoration: none;
}
#navigation a:hover {
	background-color: #232323;
	color: #EEEEEE;
	text-decoration: none;
}
#navigation a.active:hover {
	background-color: #28A6EB;
	color: #FFFFFF;
	text-decoration: none;
}

#navigation #user {
	font-family: 'RobotoThin', Arial, sans-serif;
	color: #BBBBBB;
	font-size: 34px;
	height: 80px;
	line-height: 80px;
	text-align: center;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}


#menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
#menu h2.first  {
	margin: 0;
}
#menu li {
	display: block;
}

#menu li span.menu_link {
	display: block;
	padding: 0 10px;
	line-height: 34px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

#menu ul.pagination {
	margin: 0;
}
#menu ul.pagination li {
	float: left;
	display: block;
	text-align: center;
	width: 35px;
	height: 34px;
}
#menu ul.pagination li span {
	padding: 0;
}
#menu ul.pagination li.last a {
	border-right: none;
	width: 35px;
}
#menu ul.pagination a {
	box-shadow: 1px 0 0 rgba(255, 255, 255, 0.04) inset;
	border-right: 1px solid #000000;
	width: 34px;
}

#menu ul.activity {
	margin: 0;
	padding: 0;
	list-style: none;
}
#menu ul.activity li {
	background-color: #1E1E1E;
	border-bottom: 1px solid #000000;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.04) inset;
	color: #AAAAAA;
	display: block;
	overflow: hidden;
	position: relative;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
	text-decoration: none;
	width: 100%;
}
#menu ul.activity li span.history {
	display: block;
	padding: 14px 10px 10px 10px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
#menu ul.activity li span.delta {
	color: #888888;
	display: block;
	padding: 10px 10px 14px 10px;
	line-height: 0px;
	font-size: small;
	text-transform: capitalize;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
#menu ul.activity a {
	line-height: 0px;
	border-bottom: 0px;
}


#content {
	height: 100%;
	margin-left: 245px;
	overflow: hidden;
	position: relative;
}
#content a {
	color: #28A6EB;
	text-decoration: none;
}
#content a.mobile-top {
	display: none;
}


#container {
	padding: 30px;
}

#content h1 {
    font-family: 'RobotoThin', Arial, sans-serif;
    color: #BBBBBB;
	margin: 0 0 30px 0;
}

#content div.post {
	box-shadow: 0 0 6px 2px #000000;
	margin: 0 0 30px 0;
	background-color: #1E1E1E;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
}
#content div.post div.post_content {
	position: relative;
}
#content div.post div.inline {
	display: inline;
}
#content div.post div.image {
	text-align: left;
	width: 150px;
	margin: 10px;
	float: left;
	line-height: 0;
}
#content div.post div.bump {
	margin: 0 0 0 180px;
	padding: 10px 10px 10px 0;
	word-wrap: break-word;
}

#content div.post div.title {
    color: #BBBBBB;
	font-size: 16px;
	margin-bottom: 10px;
}

#content div.comment {
	border-top: 2px groove #333333;
	position: relative;
}

#content div.comments-expand {
	border-top: 2px groove #333333;
	padding: 10px 0px;
	text-align: center;
}
#content div.comments-expand:hover {
	background-color: #232323;
	color: #FFFFFF;
    cursor: pointer;
	text-decoration: none;
}
#content div.comments-hidden {
	display: none;
}

#content div.actions {
	position: absolute;
	bottom: 10px;
	right: 10px;
}
#content div.actions ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
#content div.actions li {
	float: left;
	margin: 0 0 0 8px;
	width: 16px;
	height: 16px;
}


#gallery div.gallery_item {
	background-color: #1E1E1E;
	text-align: center;
	line-height: 150px;
	width: 150px;
	height: 150px;
	float: left;
	box-shadow: 0px 0 6px 2px #000000;
	margin: 0 15px 15px 0;
	padding: 10px;
}
#gallery div.gallery_item img {
	vertical-align: middle;
}


#messages {
	width: 100%;
	display: block;
	position: fixed;
	bottom: 0px;
	text-align: center;
	z-index: 12;
	display: none;
	padding: 10px;
	margin: 0;
	background: #28A6EB;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
	color: #FFFFFF;
}


div.media_embed {
	margin-top: 10px;
}