/* For modern browsers */
.clearfix:before,
.clearfix:after {
	content: "";
	display: table;
}
.clearfix:after {
	clear: both;
}
/* For IE 6/7 (trigger hasLayout) */
.clearfix {
	zoom: 1;
}

html {
	background-color: #000000;
	min-height: 100%;
	height: 100%;
}
body {
	font: 14px/18px 'RobotoRegular', Arial, sans-serif;
    color: #AAAAAA;
	background: -webkit-linear-gradient(-45deg, #000000 10%, #1E1E1E);
    background: -moz-linear-gradient(-45deg, #000000 10%, #1E1E1E);
    background: -o-linear-gradient(to bottom right, #000000 10%, #1E1E1E);
    background: -ms-linear-gradient(to bottom right, #000000 10%, #1E1E1E);
	background: linear-gradient(to bottom right, #000000 10%, #1E1E1E);
	min-width: 960px;
	min-height: 100%;
	text-rendering: optimizeLegibility;
}
.fixed {
	position: fixed;
}

input, textarea {
    background-color: #1E1E1E;
    border: 1px solid #333333;
    color: #AAAAAA;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
}


#navigation {
	width: 245px;
	top: 0;
	left: 0;
	bottom: 0;
	overflow: hidden;
	background: none repeat scroll 0 0 #1E1E1E;
	box-shadow: 3px 0 6px -2px #000000;
}
#navigation #user {
	font-family: 'RobotoThin', Arial, sans-serif;
	color: #BBBBBB;
	font-size: 34px;
	height: 80px;
	line-height: 80px;
	text-align: center;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	box-shadow: -1px 0 0 rgba(255, 255, 255, 0.04) inset;
}
#navigation #menu {
	height: 100%;
	box-shadow: -1px 0 0 rgba(255, 255, 255, 0.04) inset;
}
#navigation h2 {
	margin: 20px 0 0 0;
	padding: 0 10px;
	color: #BBBBBB;
	font-size: 14px;
	line-height: 20px;
	height: 20px;
	font-weight: normal;
	background-color: #2A2A2A;
	border-bottom: 1px solid #111111;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.04) inset;
	overflow: hidden;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
	text-decoration: none;
}
#navigation a {
	background-color: #1E1E1E;
	border-bottom: 1px solid #111111;
	box-shadow: -1px 1px 0 rgba(255, 255, 255, 0.04) inset;
	color: #AAAAAA;
	cursor: pointer;
	display: block;
	line-height: 34px;
	overflow: hidden;
	position: relative;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
	text-decoration: none;
	width: 100%;
}
#navigation a:hover {
	background-color: #232323;
	color: #EEEEEE;
	text-decoration: none;
	transition: all 0.2s ease-in-out;
}
#navigation a.active {
	background-color: #4183C4;
	color: #FFFFFF;
	text-decoration: none;
}
#navigation a.active:hover {
	background-color: #4183C4;
	color: #FFFFFF;
	text-decoration: none;
	transition: all 0.2s ease-in-out;
}


#menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
#menu h2.first  {
	margin: 0;
}
#menu li {
	display: block;
}

#menu li span.menu_link {
	display: block;
	padding: 0 10px;
	line-height: 34px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

#menu ul.pagination {
	margin: 0;
}
#menu ul.pagination li {
	float: left;
	display: block;
	text-align: center;
	width: 35px;
	height: 34px;
}
#menu ul.pagination li span {
	padding: 0;
}
#menu ul.pagination li.last a {
	border-right: none;
	width: 35px;
}
#menu ul.pagination a {
	box-shadow: 1px 1px 0 rgba(255, 255, 255, 0.04) inset;
	border-right: 1px solid #111111;
	width: 34px;
}

#menu ul.activity {
	margin: 0;
	padding: 0;
	list-style: none;
}
#menu ul.activity li {
	background-color: #1E1E1E;
	border-bottom: 1px solid #111111;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.04) inset;
	color: #AAAAAA;
	display: block;
	overflow: hidden;
	position: relative;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
	text-decoration: none;
	width: 100%;
}
#menu ul.activity li span.history {
	display: block;
	padding: 14px 10px 10px 10px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
#menu ul.activity li span.delta {
	color: #999999;
	display: block;
	padding: 10px 10px 14px 10px;
	line-height: 0;
	font-size: small;
	text-transform: capitalize;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
#menu ul.activity a {
	line-height: 0;
	border-bottom: 0;
}


#content {
	height: 100%;
	margin-left: 245px;
	overflow: hidden;
	position: relative;
}
#content a {
	color: #4183C4;
	text-decoration: none;
}
#content a.mobile-top {
	display: none;
}


#container {
	padding: 30px;
}

#content h1 {
    font-family: 'RobotoThin', Arial, sans-serif;
    color: #BBBBBB;
	margin: 0 0 30px 0;
	letter-spacing: 1px;
}

#content div.post {
	box-shadow: 0 0 6px 2px #000000;
	margin: 0 0 30px 0;
	background-color: #1E1E1E;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
}
#content div.post div.post_content {
	background-color: #232323;
	position: relative;
	box-shadow: 1px 1px 0 rgba(255, 255, 255, 0.04) inset;
	display: table;
}
#content div.post div.inline {
	display: inline;
}
#content div.post div.post_number {
	color: #999999;
}
#content div.post div.post_information {
	color: #999999;
}
#content div.post div.image {
	text-align: left;
	min-width: 150px;
	padding: 10px;
	line-height: 0;
	font-size: 0;
	white-space: pre-line;
	display: table-cell;
	background: url(../black-hatch-texture.png), #1E1E1E;
	box-shadow: 1px 1px 0 rgba(255, 255, 255, 0.04) inset;
}
#content div.post div.bump {
	padding: 10px;
	word-wrap: break-word;
	background: -webkit-linear-gradient(right, #1E1E1E 20%, #232323 80%);
    background: -moz-linear-gradient(right, #1E1E1E 20%, #232323 80%);
    background: -o-linear-gradient(to right, #1E1E1E 20%, #232323 80%);
    background: -ms-linear-gradient(to right, #1E1E1E 20%, #232323 80%);
	background: linear-gradient(to right, #1E1E1E 20%, #232323 80%);
	box-shadow: 1px 1px 0 rgba(255, 255, 255, 0.04) inset;
	border-left: 1px solid #111111;
	display: table-cell;
	width: 100%;
	height: 100%;
	max-width: 1px;
}
#content div.post div.title {
    color: #BBBBBB;
	font-size: 16px;
	margin-bottom: 10px;
}

#content div.comment {
	border-top: 1px solid #111111;
	box-shadow: 1px 1px 0 rgba(255, 255, 255, 0.04) inset;
	position: relative;
	display: table;
}
#content div.comment div.comment_information {
	color: #999999;
}
#content div.comments-expand {
	color: #999999;
	background: url(../black-diag-texture.png);
	border-top: 1px solid #111111;
	box-shadow: 1px 1px 0 rgba(255, 255, 255, 0.04) inset;
	padding: 10px 0;
	text-align: center;
}
#content div.comments-expand:hover {
	background-color: #232323;
	color: #FFFFFF;
    cursor: pointer;
	text-decoration: none;
	transition: all 0.2s ease-in-out;
}
#content div.comments-hidden {
	display: none;
}

#content div.actions {
	position: absolute;
	bottom: 10px;
	right: 10px;
}
#content div.actions ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
#content div.actions li {
	float: left;
	margin: 0 0 0 8px;
	width: 16px;
	height: 16px;
}

#content div.imagetype {
	position: absolute;
	top: 10px;
	left: 10px;
	pointer-events: none;
}
#content div.imagetype ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
#content div.imagetype li {
	float: right;
	width: 30px;
	height: 12px;
}


#gallery div.gallery_item {
	background: url(../black-hatch-texture.png), #1E1E1E;
	text-align: center;
	line-height: 150px;
	width: 150px;
	height: 150px;
	float: left;
	box-shadow: 0 0 6px 2px #000000;
	margin: 0 15px 15px 0;
	padding: 10px;
	position: relative;
}
#gallery div.gallery_item img {
	vertical-align: middle;
}
#gallery div.gallery_item div.imagetype img {
	vertical-align: top;
}


#messages {
	width: 100%;
	position: fixed;
	bottom: 0;
	text-align: center;
	z-index: 12;
	display: none;
	padding: 10px;
	margin: 0;
	background: #4183C4;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
	color: #FFFFFF;
}


div.media_embed {
	margin-top: 10px;
}