/* For modern browsers */
.clearfix:before,
.clearfix:after {
	content: "";
	display: table;
}
.clearfix:after {
	clear: both;
}
/* For IE 6/7 (trigger hasLayout) */
.clearfix {
	zoom: 1;
}

*::-webkit-scrollbar {
	width: 0.8% !important;
	height: 10px !important;
	background: #1E1E1E !important;
	border: 1px solid #232323 !important;
}
*::-webkit-scrollbar-button {
	display: none !important;
}
*::-webkit-scrollbar-thumb,
*::-webkit-scrollbar-track {
	border: 0 !important;
	box-shadow: none !important;
}
*::-webkit-scrollbar-thumb {
	min-height: 30px; !important;
	background: #333333;
	border-radius: 5px;
}
*::-webkit-scrollbar-corner,
*::-webkit-scrollbar-track {
	background: #1E1E1E !important;
}

html {
	background-color: #000000;
	min-height: 100%;
	height: 100%;
}
body {
	font: 14px/18px 'RobotoRegular', Arial, sans-serif;
    color: #AAAAAA;
	background: -webkit-linear-gradient(-45deg, #000000 10%, #1E1E1E);
    background: -moz-linear-gradient(-45deg, #000000 10%, #1E1E1E);
    background: -o-linear-gradient(to bottom right, #000000 10%, #1E1E1E);
    background: -ms-linear-gradient(to bottom right, #000000 10%, #1E1E1E);
	background: linear-gradient(to bottom right, #000000 10%, #1E1E1E);
	min-width: 960px;
	min-height: 100%;
	text-rendering: optimizeLegibility;
}
.fixed {
	position: fixed;
}

input, textarea, select, button {
    background-color: #1E1E1E;
    border: 1px solid #333333;
    color: #AAAAAA;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
}


#navigation {
	width: 245px;
	top: 0;
	left: 0;
	bottom: 0;
	overflow: hidden;
	background: none repeat scroll 0 0 #1E1E1E;
	box-shadow: 3px 0 6px -2px #000000;
}
#navigation #user {
	font-family: 'RobotoThin', Arial, sans-serif;
	color: #BBBBBB;
	font-size: 34px;
	height: 80px;
	line-height: 80px;
	text-align: center;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	box-shadow: -1px 0 0 rgba(255, 255, 255, 0.04) inset;
}
#navigation #menu {
	height: 100%;
	box-shadow: -1px 0 0 rgba(255, 255, 255, 0.04) inset;
}
#navigation h2 {
	margin: 20px 0 0 0;
	padding: 0 10px;
	color: #BBBBBB;
	font-size: 14px;
	line-height: 20px;
	height: 20px;
	font-weight: normal;
	background-color: #2A2A2A;
	border-bottom: 1px solid #111111;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.04) inset;
	overflow: hidden;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
	text-decoration: none;
}
#navigation a {
	background-color: #1E1E1E;
	border-bottom: 1px solid #111111;
	box-shadow: -1px 1px 0 rgba(255, 255, 255, 0.04) inset;
	color: #AAAAAA;
	cursor: pointer;
	display: block;
	line-height: 34px;
	overflow: hidden;
	position: relative;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
	text-decoration: none;
	width: 100%;
}
#navigation a:hover {
	background-color: #232323;
	color: #EEEEEE;
	text-decoration: none;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}
#navigation a.active {
	background-color: #4183C4;
	color: #FFFFFF;
	text-decoration: none;
}
#navigation a.active:hover {
	background-color: #4183C4;
	color: #FFFFFF;
	text-decoration: none;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-in-out;
}


#menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
#menu h2.first  {
	margin: 0;
}
#menu li {
	display: block;
}

#menu li span.menu_link {
	display: block;
	padding: 0 10px;
	line-height: 34px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

#menu ul.pagination {
	margin: 0;
}
#menu ul.pagination li {
	float: left;
	display: block;
	text-align: center;
	width: 35px;
	height: 34px;
}
#menu ul.pagination li span {
	padding: 0;
}
#menu ul.pagination li.last a {
	border-right: none;
	width: 35px;
}
#menu ul.pagination a {
	box-shadow: 1px 1px 0 rgba(255, 255, 255, 0.04) inset;
	border-right: 1px solid #111111;
	width: 34px;
}

#menu ul.activity {
	margin: 0;
	padding: 0;
	list-style: none;
}
#menu ul.activity li {
	background-color: #1E1E1E;
	border-bottom: 1px solid #111111;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.04) inset;
	color: #AAAAAA;
	display: block;
	overflow: hidden;
	position: relative;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
	text-decoration: none;
	width: 100%;
}
#menu ul.activity li span.history {
	display: block;
	padding: 4px 10px 2px 10px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	line-height: normal;
}
#menu ul.activity li span.delta {
	color: #888888;
	display: block;
	padding: 2px 10px 4px 10px;
	line-height: normal;
	font-size: small;
	text-transform: capitalize;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
#menu ul.activity a {
	line-height: 0;
	border-bottom: 0;
}


#content {
	height: 100%;
	margin-left: 245px;
	overflow: hidden;
	position: relative;
}
#content a {
	color: #4183C4;
	text-decoration: none;
}
#content a:hover {
	text-decoration: underline;
}
#content a.mobile-top {
	display: none;
}


#container {
	padding: 30px;
}

#content h1 {
    font-family: 'RobotoThin', Arial, sans-serif;
    color: #BBBBBB;
	margin: 0 0 30px 0;
	letter-spacing: 1px;
}
#content h3 {
    color: #BBBBBB;
	margin: 0 0 20px 0;
	letter-spacing: 1px;
}

#content div.post {
	box-shadow: 0 0 6px 2px #000000;
	margin-bottom: 30px;
	background-color: #1E1E1E;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
}
#content div.post div.post_content {
	background-color: #232323;
	position: relative;
	box-shadow: 1px 1px 0 rgba(255, 255, 255, 0.04) inset;
	display: table;
}
#content div.post div.inline {
	display: inline;
}
#content div.post div.post_number {
	color: #999999;
}
#content div.post div.post_information {
	color: #999999;
}
#content div.post div.post_information a {
	color: #FFFFFF;
}
#content div.post div.image {
	text-align: left;
	min-width: 150px;
	padding: 10px;
	line-height: 0;
	font-size: 0;
	white-space: pre-line;
	display: table-cell;
	box-shadow: 1px 1px 0 rgba(255, 255, 255, 0.04) inset;
}
#content div.post div.bump {
	padding: 10px;
	word-wrap: break-word;
	box-shadow: 1px 1px 0 rgba(255, 255, 255, 0.04) inset;
	border-left: 1px solid #111111;
	display: table-cell;
	width: 100%;
	height: 100%;
	max-width: 1px;
}
#content div.post div.title {
    color: #BBBBBB;
	font-size: 16px;
	margin-bottom: 10px;
}

#content div.comment {
	border-top: 1px solid #111111;
	box-shadow: 1px 1px 0 rgba(255, 255, 255, 0.04) inset;
	position: relative;
	display: table;
}
#content div.comment div.image {
	text-align: left;
	min-width: 150px;
	padding: 10px;
	line-height: 0;
	font-size: 0;
	white-space: pre-line;
	display: table-cell;
	background: url(../black-hatch-texture.png), #1E1E1E;
	box-shadow: 1px 1px 0 rgba(255, 255, 255, 0.04) inset;
}
#content div.comment div.bump {
	background: -webkit-linear-gradient(right, #1E1E1E 20%, #232323 80%);
	background: -moz-linear-gradient(right, #1E1E1E 20%, #232323 80%);
	background: -o-linear-gradient(to right, #1E1E1E 20%, #232323 80%);
	background: linear-gradient(to right, #1E1E1E 20%, #232323 80%);
}
#content div.comment div.comment_information {
	color: #999999;
}
#content div.comment div.comment_information a {
	color: #FFFFFF;
}
#content div.comments-expand {
	color: #999999;
	background: url(../black-hatch-texture.png), #232323;
	border-top: 1px solid #111111;
	box-shadow: 1px 1px 0 rgba(255, 255, 255, 0.04) inset;
	padding: 10px 0;
	text-align: center;
}
#content div.comments-expand:hover {
	color: #FFFFFF;
    cursor: pointer;
	text-decoration: none;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}
#content div.comments-hidden {
	display: none;
}

#content div.actions {
	position: absolute;
	bottom: 5px;
	right: 5px;
	background: #232323;
	padding: 5px;
	border-radius: 5px;
}
#content div.actions ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
#content div.actions li {
	float: left;
	margin: 0 0 0 8px;
	width: 16px;
	height: 16px;
}
#content div.actions li:first-of-type {
	margin: 0;
}

#content div.imagetype {
	position: absolute;
	top: 10px;
	left: 10px;
	pointer-events: none;
}
#content div.imagetype span {
	background: #232323;
	padding: 0 4px 0 0;
    color: #BBBBBB;
	line-height: normal;
	vertical-align: top;
	border-bottom-right-radius: 5px;
	font: 16px 'RobotoBold', Arial, sans-serif;
}
#content div.comment div.imagetype span {
	background: url(../black-hatch-texture.png), #1E1E1E;
}


#gallery div.gallery_item {
	background: url(../black-hatch-texture.png), #1E1E1E;
	text-align: center;
	line-height: 150px;
	width: 150px;
	height: 150px;
	float: left;
	box-shadow: 0 0 6px 2px #000000;
	margin: 0 15px 15px 0;
	padding: 10px;
	position: relative;
}
#gallery div.gallery_item img {
	vertical-align: middle;
}
#content div.gallery_item div.imagetype span {
	background: url(../black-hatch-texture.png), #1E1E1E;
}
#content div.post_link {
	position: absolute;
	bottom: 0;
	right: 0;
	line-height: 0;
}
#content div.post_link img {
	width: 20px;
	height: 20px;
	background: url(../black-hatch-texture.png), #1E1E1E;
	padding: 5px;
	border-top-left-radius: 5px;
}

#content div.profile {
	box-shadow: 0 0 6px 2px #000000;
	margin-bottom: 30px;
	background-color: #1E1E1E;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
	word-wrap: break-word;
}
#content div.profile p {
	margin-bottom: 0;
}
#content div.profile_content {
	background-color: #232323;
	position: relative;
	padding: 10px;
	box-shadow: 1px 1px 0 rgba(255, 255, 255, 0.04) inset;
}

span.helptext {
	color: #999999;
	font-size: 0.8em;
}


#messages {
	width: 100%;
	position: fixed;
	bottom: 0;
	text-align: center;
	z-index: 12;
	display: none;
	padding: 10px;
	margin: 0;
	background: #4183C4;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
	color: #FFFFFF;
}


div.media_embed {
	background: url(../black-diag-texture.png);
	margin-top: 10px;
	width: 420px;
	max-width: 420px;
	max-height: 315px;
	position: relative;
	-webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
}
div.media_embed iframe,
div.media_embed video {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}
div.four_three:after {
  padding-top: 75%; /* 4:3 ratio */
  display: block;
  content: '';
}
div.twentyone_nine:after {
  padding-top: 41.87%; /* 21:9 ratio */
  display: block;
  content: '';
}

div.media_cover {
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: 50% 50%;
	cursor: pointer;
}
div.media_meta {
	margin: 0 10px;
	max-width: 95%;
	overflow: hidden;
	padding: 10px 5px 0 0;
	text-overflow: ellipsis;
	text-shadow: none;
	white-space: nowrap;
	word-break: normal;
}
span.media_author,
span.media_title {
	background: rgba(0, 0, 0, 0.8);
	color: #CCCCCC;
	display: inline;
	font-weight: 100;
	line-height: 22px;
	padding: 3px 6px;
}
span.media_title {
	font-size: 14px;
}
span.media_author {
	font-size: 12px;
}

div.play_button {
	position: absolute;
	top: 50%;
	left: 50%;
	cursor: pointer;
}
div.play_button.YoutubeBackend {
	background: url("../youtube_play.svg") center no-repeat,
				url("../youtube_play_hover.svg") center no-repeat;
	background-size: 42px, 0;
	top: calc(50% - 15px);
	left: calc(50% - 21px);
	width: 42px;
	height: 30px;
	-webkit-transition: background 250ms cubic-bezier(0.0, 0.0, 0.2, 1);
	-moz-transition: background 250ms cubic-bezier(0.0, 0.0, 0.2, 1);
	-o-transition: background 250ms cubic-bezier(0.0, 0.0, 0.2, 1);
	transition: background 250ms cubic-bezier(0.0, 0.0, 0.2, 1);
}
div.media_cover:hover div.play_button.YoutubeBackend {
	background: url("../youtube_play_hover.svg") center no-repeat;
	background-size: 42px;
}
div.play_button.VimeoBackend {
	background: url("../vimeo_play.svg") center no-repeat, rgba(23, 35, 34, 0.75);
	background-size: 20px;
	top: calc(50% - 20px);
	left: calc(50% - 32px);
	width: 65px;
	height: 40px;
	border-radius: 5px;
}
div.media_cover:hover div.play_button.VimeoBackend {
	background: url("../vimeo_play.svg") center no-repeat, rgba(0, 173, 239, 1);
	background-size: 20px;
}
div.play_button.SoundCloudBackend {
	background: url("../soundcloud_play.svg") center no-repeat,
				url("../soundcloud_play_hover.svg") center no-repeat;
	background-size: 43px, 0;
	position: static;
	float: left;
	width: 43px;
	height: 43px;
	margin-right: 10px;
}
div.media_cover:hover div.play_button.SoundCloudBackend {
	background-image: url("../soundcloud_play_hover.svg");
	background-size: 43px;
}
div.play_button.StreamableBackend {
	background: url("../streamable_play.png") center no-repeat;
	top: calc(50% - 24px);
	left: calc(50% - 38px);
    width: 76px;
	height: 48px;
	opacity: 0.8;
	-webkit-transition: opacity 40ms ease-in;
    -moz-transition: opacity 40ms ease-in;
    -o-transition: opacity 40ms ease-in;
    transition: opacity 40ms ease-in;
}
div.media_cover:hover div.play_button.StreamableBackend {
	opacity: 1.0;
}
div.play_button.DailymotionBackend {
	background: url("../dailymotion_play.png") 85% 50% no-repeat rgba(21,21,21,0.7);
	background-size: 70%;
	border-radius: 3px;
	top: calc(50% - 24px);
	left: calc(50% - 24px);
    width: 48px;
	height: 48px;
	-webkit-transition: background-color 300ms ease-in;
    -moz-transition: background-color 300ms ease-in;
    -o-transition: background-color 300ms ease-in;
    transition: background-color 300ms ease-in;
}
div.media_cover:hover div.play_button.DailymotionBackend {
	background-color: #3389ff;
}
div.play_button.GfycatBackend {
	background: url("../gfycat_play.svg") center no-repeat;
	top: calc(50% - 25px);
	left: calc(50% - 25px);
    width: 50px;
	height: 50px;
    opacity: 0.8;
	-webkit-transition: opacity 40ms ease-in;
    -moz-transition: opacity 40ms ease-in;
    -o-transition: opacity 40ms ease-in;
    transition: opacity 40ms ease-in;
}
div.media_cover:hover div.play_button.GfycatBackend{
	opacity: 1.0;
}

div.media_expand {
    width: 16px;
    height: 16px;
    position: absolute;
    right: -31px;
    background: #232323;
    top: -5px;
    padding: 5px;
    border-radius: 5px;
	cursor: pointer;
}
div.expand {
	background: url("../fullscreen.svg") center no-repeat, #232323;
	background-size: 16px;
}
div.shrink {
	background: url("../fullscreen_exit.svg") center no-repeat, #232323;
	background-size: 16px;
}

.emojione {
	width: 2em;
    height: 2em;
    display: inline-block;
    margin-bottom: -0.5em;
}
