/* For modern browsers */
.clearfix:before,
.clearfix:after {
	content: "";
	display: table;
}
.clearfix:after {
	clear: both;
}
/* For IE 6/7 (trigger hasLayout) */
.clearfix {
	zoom: 1;
}

html {
	background-color: #000000;
	min-height: 100%;
	height: 100%;
}
body {
	font: 14px/18px 'RobotoRegular', Arial, sans-serif;
    color: #AAAAAA;
	background: -webkit-linear-gradient(-45deg, #000000 10%, #1E1E1E);
    background: -moz-linear-gradient(-45deg, #000000 10%, #1E1E1E);
    background: -o-linear-gradient(to bottom right, #000000 10%, #1E1E1E);
    background: -ms-linear-gradient(to bottom right, #000000 10%, #1E1E1E);
	background: linear-gradient(to bottom right, #000000 10%, #1E1E1E);
	min-width: 320px;
	min-height: 100%;
	text-rendering: optimizeLegibility;
}

input, textarea {
    background-color: #1E1E1E;
    border: 1px solid #333333;
    color: #AAAAAA;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
}

#user {
	color: #BBBBBB;
	font-weight: normal;
	background-color: #2A2A2A;
	border-bottom: 1px solid #111111;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
	text-decoration: none;
	padding: 10px;
	font-size: 21px;
	margin: 0;
}
#navigation {
	background: none repeat scroll 0 0 #1E1E1E;
	box-shadow: 0 0 6px 2px #000000;
}
#navigation h2 {
	display: none;
}
#navigation a {
	background-color: #1E1E1E;
	border-bottom: 1px solid #111111;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.04) inset;
	color: #AAAAAA;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
	text-decoration: none;
}
#navigation a.active {
	background-color: #4183C4;
	color: #FFFFFF;
	text-decoration: none;
}
#navigation a:hover {
	background-color: #232323;
	color: #FFFFFF;
	text-decoration: none;
}
#navigation a.active:hover {
	background-color: #4183C4;
	color: #FFFFFF;
	text-decoration: none;
}

#menu ul {
	margin: 0;
	padding: 0;
}
#menu ul li {
	list-style: none;
}
#menu ul li a {
	display: block;
	padding: 10px;
}

#menu ul.pagination li {
	width: 13%;
	display: inline-block;
	text-align: center;
}

#menu ul.activity {
	display: none;
}

#content {
}
#content a {
	color: #4183C4;
	text-decoration: none;
}
#content a.mobile-top {
	display: block;
	padding-bottom: 2em;
	text-align: center;
}

#content h1 {
    font-family: 'RobotoThin', Arial, sans-serif;
	margin: 0.67em;
	letter-spacing: 1px;
}

#content form {
	margin: 0.67em;
}

#content div.post {
	display: block;
	box-shadow: 0 0 6px 2px #000000;
	padding: 0;
	margin-bottom: 30px;
	background-color: #1E1E1E;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
}
#content div.post div.post_content {
	background-color: #232323;
	position: relative;
	padding: 0 0 30px 0;
}

#content div.post div.inline {
	display: inline;
}

#content div.post div.image {
	text-align: left;
	margin: 10px;
	line-height: 0;
}
#content div.post div.bump {
	margin: 0;
	padding: 10px;
	word-wrap: break-word;
}

#content div.post div.title {
    color: #BBBBBB;
	font-size: 16px;
	margin-bottom: 10px;
}

#content div.comment {
	border-top: 1px solid #111111;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.04) inset;
	position: relative;
	padding: 0 0 30px 0;
}

#content div.comments-expand {
	border-top: 1px solid #111111;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.04) inset;
	padding: 10px 0;
	text-align: center;
}
#content div.comments-expand:hover {
	background-color: #232323;
	color: #FFFFFF;
    cursor: pointer;
	text-decoration: none;
}
#content div.comments-hidden {
	display: none;
}

#content div.actions {
	position: absolute;
	bottom: 10px;
	right: 10px;
}
#content div.actions ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
#content div.actions li {
	display: inline-block;
	margin: 0 0 0 8px;
	width: 16px;
	height: 16px;
}

#content div.imagetype {
	position: absolute;
	top: 10px;
	left: 10px;
	pointer-events: none;
}
#content div.imagetype span {
	background: url(../black-hatch-texture.png), #1E1E1E;
	padding: 0 2px 0 0;
    color: #BBBBBB;
	line-height: normal;
    font-size: medium;
	vertical-align: top;
	border-bottom-right-radius: 5px;
}


#gallery div.gallery_item {
	background-color: #1E1E1E;
	text-align: center;
	line-height: 150px;
	width: 150px;
	height: 150px;
    float: left;
	box-shadow: 0 0 6px 2px #000000;
	margin: 10px;
	padding: 10px;
	position: relative;
}
#gallery div.gallery_item img {
	vertical-align: middle;
}

#messages {
	display: none;
	position: fixed;
	bottom: 0;
	text-align: center;
	z-index: 12;
	padding: 10px;
	margin: 0;
	background: #4183C4;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
	color: #FFFFFF;
}


div.media_embed {
	margin-top: 10px;
	width: 420px;
	max-width: 100%;
	max-height: 315px;
	position: relative;
	background-color: #000000;
	-webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
}
div.media_embed iframe {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}
div.twentyone_nine:after {
  padding-top: 41.87%; /* 21:9 ratio */
  display: block;
  content: '';
}
div.sixteen_nine:after {
  padding-top: 56.25%; /* 16:9 ratio */
  display: block;
  content: '';
}
div.four_three:after {
  padding-top: 75%; /* 4:3 ratio */
  display: block;
  content: '';
}

div.media_cover {
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: 50% 50%;
	cursor: pointer;
}
div.media_meta {
	padding: 10px;
}
span.media_author,
span.media_title {
	color: #CCCCCC;
	font-size: 12px;
	font-weight: 100;
	line-height: 16px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	text-shadow: none;
	word-break: normal;
	background: rgba(0, 0, 0, 0.8);
	padding: 3px 6px;
	display: inline-block;
	max-width: calc(100% - 10px);
}

div.play_button {
	position: absolute;
	top: 50%;
	right: 50%;
	cursor: pointer;
}
div.play_button.YoutubeBackend {
	top: calc(50% - 15px);
	right: calc(50% - 21px);
	width: 42px;
	height: 30px;
	background: url("../youtube_play_hover.svg") center no-repeat;
	background-size: 42px;
}
div.play_button.VimeoBackend {
	top: calc(50% - 20px);
	right: calc(50% - 32px);
	width: 65px;
	height: 40px;
	border-radius: 5px;
	background: url("../vimeo_play.svg") center no-repeat, rgba(0, 173, 239, 1);
	background-size: 20px;
}
div.play_button.SoundCloudBackend {
	position: static;
	margin: 4px 10px 0 0;
	float: left;
	width: 43px;
	height: 43px;
	background: url("../soundcloud_play_hover.svg") center no-repeat;
	background-size: 43px;
}

div.media_expand {
    display: none;
}

.emojione {
	width: 1.5em;
    height: 1.5em;
    display: inline-block;
    margin-bottom: -0.25em;
}