{% extends "base.html" %}
{% load i18n thumbnail staticfiles pifti cache %}
{% block page_class %}Gallery{% endblock %}

{% block content %}
<h1>i'm from the internet.</h1>
  {% if pagination_list %}
  <div id="gallery" class="clearfix">
  {% for post in pagination_list %}
    {% if post.image %}
    <div class="gallery_item">
      <a target="_blank" href="{{ post.image.url }}"><img src="{{ post.image.avatar.url }}" /></a>
      {% cache 86400 post_imagetype post.id %}
      {% if post.image.animated %}
      <div class="imagetype">
        <span>{{ post.image.format }}</span>
      </div>
      {% endif %}
      {% endcache %}
      {% cache 86400 post_link post.id user.userprofile.pagination %}
      <div class="post_link">
        <a href="{% posturl post.id user.userprofile.pagination %}"><img title="Go to post" src="{% static 'chat_alt_fill.svg' %}" /></a>
      </div>
      {% endcache %}
    </div>
    {% endif %}
    {% for comment in post.comment_set.all %}
      {% if comment.image %}
      <div class="gallery_item">
        <a target="_blank" href="{{ comment.image.url }}"><img src="{{ comment.image.avatar.url }}" /></a>
        {% cache 86400 comment_imagetype comment.id %}
        {% if comment.image.animated %}
        <div class="imagetype">
          <span>{{ comment.image.format }}</span>
        </div>
        {% endif %}
        {% endcache %}
      </div>
      {% endif %}
    {% endfor %}
  {% endfor %}
  </div>
  <a class="mobile-top" href="#top">Back to Top</a>
  {% else %}
  <p>No images are available.</p>
  {% endif %}
{% endblock %}