{% extends "base.html" %}
{% load i18n thumbnail staticfiles isgif %}
{% block page_class %}Gallery{% endblock %}

{% block content %}
<h1>i'm from the internet.</h1>
  {% if pagination_list %}
  <div id="gallery" class="clearfix">
  {% for gallery_item in pagination_list %}

    {% if gallery_item.image %}
    <div class="gallery_item">
      <a target="_blank" href="{{ gallery_item.image.url }}"><img src="{{ gallery_item.image.avatar.url }}" /></a>
      <div class="imagetype">
        {% if gallery_item.image|isgif %}
          <span>GIF</span>
        {% endif %}
      </div>
    </div>
    {% endif %}

    {% for comment in gallery_item.comment_set.all %}
      {% if comment.image %}
      <div class="gallery_item">
        <a target="_blank" href="{{ comment.image.url }}"><img src="{{ comment.image.avatar.url }}" /></a>
        <div class="imagetype">
          {% if comment.image|isgif %}
            <span>GIF</span>
          {% endif %}
        </div>
      </div>
      {% endif %}
    {% endfor %}

  {% endfor %}
  </div>
  {% else %}
  <p>No images are available.</p>
  {% endif %}
{% endblock %}