{% extends "base.html" %}
{% load i18n %}
{% load thumbnail %}
{% block page_class %}index-page{% endblock %}

{% block content %}
<h1>i'm from the internet.</h1>
  {% if post_list %}
  <div id="posts">
    {% for post in post_list %}
    <div class="post clearfix">
      <div class="image">
        {% if post.image %}
        <a target="_blank" href="{{ post.image.url }}"><img src="{{ post.image.avatar.url }}" /></a>
        {% endif %}
      </div>
      <div class="post_content">
        <div class="title">
          <div class="post_number inline">#{{ post.id }}</div>
          <div class="post_title inline">{{ post.title|safe }}</div>
          <div class="post_information inline">by {{ post.user.username }} on {{ post.created }}</div>
        </div>
        <div class="text">
          {{ post.body|safe }}
        </div>
        <div class="actions">
          <ul>
            <li><a href="http://codebin.me">Comment</a></li>
            <li><a href="http://codebin.me">Edit</a></li>
            <li><a href="http://codebin.me">Delete</a></li>
          </ul>
        </div>
      </div>
    </div>
  {% endfor %}
  </div>
  {% else %}
  <p>No posts are available.</p>
  {% endif %}
{% endblock %}