<!doctype html>
{% load i18n staticfiles %}

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{% block page_title %}{% trans "i'm from the internet" %}{% endblock %}</title>
        <meta name="description" content="{% block meta_description %}{% endblock %}" />
        <meta name="author" content="{% block meta_author %}{% endblock %}" />
        <meta name="viewport" content="width=device-width" />

        <script type="text/javascript" src="//code.jquery.com/jquery-2.0.0.min.js"></script>
        <script type="text/javascript" src="{% static 'js/pifti.custom.js' %}"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'css/normalize.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/fonts.css' %}">
        {% if user.userprofile.nightmode %}
            <link rel="stylesheet" type="text/css" href="{% static 'css/main-nightmode.css' %}" media="only screen and (min-width: 769px)">
            <link rel="stylesheet" type="text/css" href="{% static 'css/mobile-nightmode.css' %}" media="only screen and (max-width: 768px)">
        {% else %}
            <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" media="only screen and (min-width: 769px)">
            <link rel="stylesheet" type="text/css" href="{% static 'css/mobile.css' %}" media="only screen and (max-width: 768px)">
        {% endif %}
    </head>
    <body class="{% block body_class %}{% endblock %}">
        {% block body %}
        <div id="navigation" class="fixed">
            <div id="user">
                {% if user.is_authenticated %}
                {{ user.username }}
                {% else %}
                Nope.
                {% endif %}
            </div>
            <div id="menu">
                <h2 class="first">Menu</h2>
                <ul>
                    {% if user.is_authenticated %}
                    <li><a href="{% url 'imageboard:index' %}"><span class="menu_link">Posts</span></a></li>
                    <li><a href="{% url 'imageboard:add_post' %}"><span class="menu_link">New Post</span></a></li>
                    <li><a href="{% url 'imageboard:gallery' %}"><span class="menu_link">Gallery</span></a></li>
                    <li><a href="{% url 'imageboard:profile' user.username %}"><span class="menu_link">Profile</span></a></li>
                    {% if user.is_staff %}
                    <li><a href="{% url 'admin:index' %}"><span class="menu_link">Admin</span></a></li>
                    {% endif %}
                    <li><a href="{% url 'imageboard:logout' %}"><span class="menu_link">Logout</span></a></li>
                    {% else %}
                    <li><a href="{% url 'imageboard:login' %}"><span class="menu_link">Login</span></a></li>
                    {% endif %}
                </ul>

                {% if pagination_list %}
                <h2>Pagination</h2>
                    <ul class="pagination clearfix">
                        <li>
                            <a href="?page=1">
                                <span class="menu_link"><<</span>
                            </a>
                        </li>
                        <li>
                            {% if previous_previous_page_number_exists %}
                            <a href="?page={{ previous_previous_page_number }}">
                                <span class="menu_link">{{ previous_previous_page_number }}</span>
                            </a>
                            {% endif %}
                        </li>
                        <li>
                            {% if pagination_list.has_previous %}
                            <a href="?page={{ pagination_list.previous_page_number }}">
                                <span class="menu_link">{{ pagination_list.previous_page_number }}</span>
                            </a>
                            {% endif %}
                        </li>
                        <li>
                            <a class="active" href="?page={{ pagination_list.number }}">
                                <span class="menu_link">{{ pagination_list.number }}</span>
                            </a>
                        </li>                        
                        <li>
                            {% if pagination_list.has_next %}
                            <a href="?page={{ pagination_list.next_page_number }}">
                                <span class="menu_link">{{ pagination_list.next_page_number }}</span>
                            </a>
                            {% endif %}
                        </li>
                        <li>
                            {% if next_next_page_number_exists %}
                            <a href="?page={{ next_next_page_number }}">
                                <span class="menu_link">{{ next_next_page_number }}</span>
                            </a>
                            {% endif %}
                        </li>
                        <li>
                            <a href="?page={{ pagination_list.paginator.num_pages }}">
                                <span class="menu_link">>></span>
                            </a>
                        </li>
                    </ul>
                {% endif %}

                {% if latest_activity and user.userprofile.activity > 0 %}
                    <h2>Latest Activity</h2>
                    <ul class="activity clearfix">
                    {% for i in latest_activity %}
                        {% if i.post_id %}
                        <li>
                            {% if i.post_page == pagination_list.number %}
                            <a href="#{{ i.post_id }}">
                            {% else %}
                            <a href="?page={{ i.post_page }}#{{ i.post_id }}">
                            {% endif %}
                                <span class="history">{{ i.user.username }} commented on: {{ i.post.title }}</span>
                                <span class="delta">{{ i.created|timesince }} ago</span>
                            </a>
                        </li>
                        {% else %}
                        <li>
                            {% if i.post_page == pagination_list.number %}
                            <a href="#{{ i.id }}">
                            {% else %}
                            <a href="?page={{ i.post_page }}#{{ i.id }}">
                            {% endif %}
                                <span class="history">{{ i.user.username }} posted: {{ i.title }}</span>
                                <span class="delta">{{ i.created|timesince }} ago</span>
                            </a>
                        </li>
                        {% endif %}
                    {% empty %}
                    {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>
        <div id="content">
            <div id="container">
                {% block content %}{% endblock content %}
            </div>
        </div>

        {% if messages %}
        <div id="messages">
            {% for message in messages %}
            <div{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</div>
            {% endfor %}
        </div>
        {% endif %}

        {% endblock %}
    </body>
</html>