{% extends "base.html" %}
{% load i18n thumbnail staticfiles embed_video_tags pifti cache %}
{% block page_class %}Home{% endblock %}

{% block content %}
<h1>i'm from the internet.</h1>
  {% if pagination_list %}
  <div id="posts">
    {% for post in pagination_list %}
    <div class="post" id="{{ post.id }}">
      <div class="post_content clearfix">
        <div class="image">
          {% if post.image %}
            <a target="_blank" href="{{ post.image.url }}"><img src="{{ post.image.avatar.url }}" /></a>
            {% cache 86400 post_imagetype post.id %}
            {% if post.image.animated %}
            <div class="imagetype">
                <span>{{ post.image.format }}</span>
            </div>
            {% endif %}
            {% endcache %}
          {% endif %}
        </div>
        <div class="bump">
          <div class="title">
            <div class="post_number inline">#{{ post.id }}</div>
            <div class="post_title inline">{{ post.title }}</div>
            <div class="post_information inline">by {{ post.user.username }} on {{ post.created }}</div>
          </div>
          <div class="text">
            <div>{{ post.body|linebreaksbr|urlize|emojize }}</div>
            {% cache 86400 post_media post.id %}
            {% if post.media and post.media != "" %}
              {% video post.media 'tiny' is_secure="{{ request.is_secure }}" as v %}
              {% with e=v.backend|excludedbackend %}
                <div class="media_embed" data-embed="{{ v.backend }}" data-id="{{ v.code }}" data-start="{{ v.start }}"
                     data-excluded="{{ e }}" style="height: {% if e %}{{ v.height }}{% else %}176{% endif %}px">
                  <div class="media_cover" {% if e %}style="background-image: url({{ v.thumbnail }})"{% endif %}>
                    <div class="media_meta">
                      <div class="play_button {{ v.backend }}"></div>
                      <span class="media_title">{% if e %}{{ v.title }}{% endif %}</span><br/>
                      <span class="media_author">{% if e %}{{ v.username }}{% endif %}</span>
                    </div>
                  </div>
                </div>
                {% endwith %}
              {% endvideo %}
            {% endif %}
            {% endcache %}
          </div>
        </div>
        <div class="actions">
          <ul>
            <li><a href="{% url 'imageboard:add_comment' post.id %}"><img title="Comment" src="{% static 'comment_alt2_fill.svg' %}" /></a></li>
            {% if user.is_superuser or user == post.user %}
            <li><a href="{% url 'imageboard:edit_post' post.id %}"><img title="Edit" src="{% static 'wrench.svg' %}" /></a></li>
            <li><a href="{% url 'imageboard:delete_post' post.id %}"><img title="Delete" src="{% static 'x_alt.svg' %}" /></a></li>
            {% endif %}
          </ul>
        </div>
      </div>
      <div class="comments">
        {% for comment in post.comment_set.all reversed %}
        {% if forloop.counter|add:user.userprofile.comment_filter <= post.comment_set.all|length %}
            {% if forloop.first %}
                <div class="comments-hidden">
            {% endif %}
        {% endif %}
        <div class="comment clearfix">
          <div class="image">
            {% if comment.image %}
              <a target="_blank" href="{{ comment.image.url }}"><img src="{{ comment.image.avatar.url }}" /></a>
              {% cache 86400 comment_imagetype comment.id %}
              {% if comment.image.animated %}
              <div class="imagetype">
                <span>{{ comment.image.format }}</span>
              </div>
              {% endif %}
              {% endcache %}
            {% endif %}
          </div>
          <div class="bump">
            <div class="title">
              <div class="comment_information inline">{{ comment.user.username }} on {{ comment.created }}</div>
            </div>
            <div class="text">
              <div>{{ comment.body|linebreaksbr|urlize|emojize }}</div>
              {% cache 86400 comment_media comment.id %}
              {% if comment.media and comment.media != "" %}
                {% video comment.media 'tiny' is_secure="{{ request.is_secure }}" as v %}
                {% with e=v.backend|excludedbackend %}
                  <div class="media_embed" data-embed="{{ v.backend }}" data-id="{{ v.code }}" data-start="{{ v.start }}"
                       data-excluded="{{ e }}" style="height: {% if e %}{{ v.height }}{% else %}176{% endif %}px">
                    <div class="media_cover" {% if e %}style="background-image: url({{ v.thumbnail }})"{% endif %}>
                      <div class="media_meta">
                        <div class="play_button {{ v.backend }}"></div>
                        <span class="media_title">{% if e %}{{ v.title }}{% endif %}</span><br/>
                        <span class="media_author">{% if e %}{{ v.username }}{% endif %}</span>
                      </div>
                    </div>
                  </div>
                {% endwith %}
                {% endvideo %}
              {% endif %}
              {% endcache %}
            </div>
          </div>
          <div class="actions">
              <ul>
                {% if forloop.last and forloop.counter > 1 %}
                <li><a href="{% url 'imageboard:add_comment' post.id %}"><img title="Comment" src="{% static 'comment_alt2_fill.svg' %}" /></a></li>
                {% endif %}
                {% if user.is_superuser or user == comment.user %}
                <li><a href="{% url 'imageboard:edit_comment' post.id comment.id %}"><img title="Edit" src="{% static 'wrench.svg' %}" /></a></li>
                <li><a href="{% url 'imageboard:delete_comment' post.id comment.id %}"><img title="Delete" src="{% static 'x_alt.svg' %}" /></a></li>
                {% endif %}
              </ul>
            </div>
        </div>
        {% if forloop.counter|add:user.userprofile.comment_filter == post.comment_set.all|length %}
          </div>
          <div class="comments-expand">Show Hidden Comments</div>
        {% endif %}
        {% endfor %}
      </div>
    </div>
  {% endfor %}
  </div>
  <a class="mobile-top" href="#">Back to top</a>
  {% else %}
  <p>No posts are available.</p>
  {% endif %}
{% endblock %}